@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}

h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    /* color:  #2c3e50; */
}